/* https://colourco.de/freebuild/cc8400-ffa500-ffb733-0048cc-005aff-337bff-0f0f0f-f0f0f0 */
body{
    margin: 0 0;
    --orangegradient: linear-gradient(90deg,#CC8400,#FFA500,#FFB733);
    background-color: rgb(240,240,240)
    min-height: 1500vh;
}

html {
    font-family: 'Montserrat', sans-serif;
}

#eye {
    position: absolute;
    top: 5px;
    left: 15px;
    
}

header{
    
    
}

.pagebody {
    
}

.title {
    font-size: 60px;
    color: #F0F0F0;
    text-shadow: -2px 0 #0f0f0f, 0 2px #0f0f0f, 2px 0 #0f0f0f, 0 -2px #0f0f0f;
}

nav li{
    display: inline;
    margin-right: 18px;
    margin-left: 28px;
}

nav ul{
    position: relative;
    left: 108px;
    
}

#head{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--orangegradient);
    border-radius: 0px 0px 5px 5px;  
    box-shadow: 20px 5px 30px #FFA500;
}

p{
    font-size: 60px
}

#home{
    position:relative;
    top: 140px;
    display:blocK;
    margin-left: auto;
    margin-right: auto;

}